body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:  'Cormorant Unicase' ищдв;
}
.page-wrap{
	width: 100%;
	height: 100%;
}
.wrap{
	width: 100%;
    height: 100vh;
	position: relative;
}
/*------------------------PROGRESS BAR-------------------------------*/
#container{
	width: 100%;
	position: fixed;
	height: 2px;
	top: 0;
	z-index: 999;
}
#progress{
	background: linear-gradient(90deg, white, #2D2D29);
	width: 0%;
	height: 2px;
}
/* ----------------------- HEADER ---------------------------------- */
.header {
	width: 100%;
    height: 100vh;
	background-color: black;
	position: relative;
}
.bg-image{
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index: 0;
}

.container{
	width: 80%;
	height: 100vh;
	border:0.1vw solid silver;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left:10%;
}
.button{
	width: 18%;
	height: auto;
	border-radius: 0.3vw;
	border:0.2vw solid #3CA2A2;
	position: absolute;
	background: #3CA2A2;
	top:80%;
	left: 39.3%;
	color: #DFECE6;
	text-align: center;
	padding: 1vw 1.5vw;
	font-size: 1.4vw;
	cursor: pointer;

}
.button:hover{
	color: #2D2D29;
	background-color: #3CA2A2;
	font-family: serif;
}	
.title{
	position: absolute;
	width: 100%;
	height: 10%;
	top: 50%;
	right: 10%
	left: 10%;
	text-align: center;
	color: white;
}
.hook{
	font-size: 2.5vw;

}
.idea{
	font-size: 1.5vw;
}
.main-idea{
	font-size: 1.5vw
}
.poloska{
	width: 30%;
	margin: auto;
}
.order{
	width: 20%;
	text-align: center;
	margin-top: 1vw;
	background-color: #92C7A3;
	padding: 2vw;
	position: absolute;
	right: 0;
	border-radius: 5px;
}
.order-title{
	color: white;
	font-size: 1.5vw
}
.info{
	margin-top: 1vw;
	padding: 0.5vw;	
	border-radius: 5px;
	border: 1px solid #DFECE6;
	border-bottom: 2px solid #DFECE6;
	border-right: 2px solid #DFECE6;
}
.info-btn {
	background: #2D2D29;
	color: white;
	border: 1px solid #2D2D29;
}
.info-btn:hover {
	transition: 1s;
	background: #1e1e1c;
}
#wrap_2{
	background: linear-gradient(45deg, #DFECE6, #92C7A3);
}
#wrap_3{
	background: linear-gradient(45deg, #92C7A3, #3CA2A2);
}
#wrap_4{
	background: linear-gradient(45deg, #3CA2A2, #215A6D);
}